.coinDetailsContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.coinDetailsHeader {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.backButton {
  padding: 10px;
  margin-right: 16px;
  border: none;
  border-radius: 50%;
  background-color: #f0f0f0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.backButton:hover {
  background-color: #e0e0e0;
}

.coinImage {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin-right: 16px;
}

.coinInfo {
  text-align: center;
}

.coinTitle {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.coinRank {
  color: #666666;
  font-size: 14px;
}

.coinDetailsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.marketData, .whyBuy {
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.sectionTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
}

.label {
  font-weight: bold;
  color: #333333;
}

.p{
  margin: 8px 0;
  color: #555555;
}

.additionalData {
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.whyBuy {
  grid-column: span 2;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.chartContainer {
  grid-column: span 2;
  background-color: #f9f9f9;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.chartWrapper {
  height: 300px;
  position: relative;
}
